<div id="welcome">
  <h1>Welcome to Flickr</h1>
  <% if user_signed_in? %>
  Logged in as <strong><%= current_user.email %> </strong>
  <% end %>

  <div id="display">
    <p>
      We have many different photos to view, or you can upload your own.
    </p>
    <%= link_to image_tag(@photo.image.url(:large)), photo_path(@photo) %>
    <br>
  </div>

</div>
