@import "bootstrap-sprockets";
@import "bootstrap";

html{
}

body{
  background-color: white;
  margin: 3% 2%;
}
#welcome{
  margin: 0 5%;
  height: 100%;

}
#display{
  margin: 0 auto;
}

#displayall{
  margin: 2%;
  width : 70%;
}

.tableall{
  margin: 0 25% 0 25%;
  border:none;
  width: 70%;
}

.muted{
  opacity:.5;
}

.links{
  float:right;
  background:white;
}

.each-photo{
  margin: 0 15%;
}
